version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - SOLCAST_API_KEY=${SOLCAST_API_KEY}
      - SOLCAST_SITE_ID=${SOLCAST_SITE_ID}
      - SOLCAST_PROXY_URL=${SOLCAST_PROXY_URL}
      - CACHE_TIMEOUT=${CACHE_TIMEOUT}
      - APP_MODE=${APP_MODE}
    volumes:
      - ./data:/app/data

volumes:
  sqlite_data: 